In [ ]:
print('hello world')

In [ ]:
new_list = [1, 0, 0]

In [ ]:
print(new_list)

In [ ]:
new_list

In [8]:
X = 2
Y = 2
Z = 2
N = 2
new_1 = [[i] for i in range (X+1)]
new_2 = [[j] for j in range (Y+1)]
new_3 = [[k] for k in range (Z+1)]
#if i + j + k != N]
#new = new_1 + new_2 + new_3
print(new_1[0])
print(new_2[0])
print(new_3[0])

[0]
[0]
[0]

In [15]:
ans = [[i, j, k] for i in range(X + 1) for j in range(Y + 1) for k in range(Z + 1) if i + j + k != N]
print (ans)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [37]:
S = {0, 1, 4, 9, 16, 25, 36, 49, 64, 81}
V = {1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096}
M = {0, 4, 16, 36, 64}

S = [x**2 for x in range(10)]
print (S)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
name = input("What is your name? ")

What is your name? Aditya

In [8]:
#tuple list examples
my_list = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
my_list

[(1, 2), (10, 11), (12, 3.5)]

In [2]:
len(my_list)

4

In [9]:
my_list_1 = [(1,2),(a,b),(c,3.5)]
my_list_1

[(1, 2), (10, 11), (12, 3.5)]

In [5]:
#tuple unpacking
for (a,b,c) in my_list:
    print(a)
    print(b)

1
2
4
5
7
8
10
11

In [17]:
#dictonary 

d = {'K1':1, 'K2':2, 'K3':3}
for key,value in d.items():
    print(key,value)

K1 1
K2 2
K3 3

In [18]:
# map and filters
def square(num):
    return num**2

In [19]:
my_list = [1,2,3,4,5]

In [20]:
map(square, my_list)

In [21]:
for item in map(square,my_list):
    print(item)

1
4
9
16
25

In [22]:
list(map(square,my_list))

[1, 4, 9, 16, 25]

In [34]:
def splicer(my_string):
    if len(my_string)%2 == 0:
        return'EVEN'
    else:
        return'ODD'

names = ['Aditya', 'Pardhu', 'Banty', 'pavan']
for values in map(splicer,names):
    print(values)
list(map(splicer,names))

# map function itself applies parenthesis next to splicer function 
# we no need to give () next to splicer

EVEN
EVEN
ODD
ODD

['EVEN', 'EVEN', 'ODD', 'ODD']

In [38]:
# filter 
# the filter function returns an iterator yielding those items of the iterable for which when you pass in the item into the function it's true.

def check_even(num):
    return num%2 == 0

my_num = [8, 9, 13, 16, 2, 6, 4]

for i in filter(check_even, my_num):
    print(i)

8
16
2
6
4

In [42]:
def square(num):
    return num**2

# this above fucntion can be converted into Lambda fucntion as following


square1 = lambda num : num**2
square1(4)

16

In [48]:
for val in map(lambda num:num**2, my_num):
    print(val)

    
list(map(lambda num:num**2, my_num))

64
81
169
256
4
36
16

[64, 81, 169, 256, 4, 36, 16]

In [50]:
list(filter(lambda num:num%2 == 0, my_num))

[8, 16, 2, 6, 4]

In [75]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    scores = list(arr)
    scores.sort()
    scores.reverse() 
    x = max(scores)
    for i in scores:
        if i < x:
            print('runner_up : %d' %(i))
            break

4
1 2 3 4
runner_up : 3